public class Course {
    private String department;
    private int number;
    private String semester;

    /**
     * gets the department
     * @return
     */
    public String getDepartment() {
        return department;
    }

    /**
     * sets the department
     * @param department
     */
    public void setDepartment(String department) {
        this.department = department;
    }

    /**
     * gets the number
     * @return
     */
    public int getNumber() {
        return number;
    }

    /**
     * sets the number
     * @param number
     */
    public void setNumber(int number) {
        this.number = number;
    }

    /**
     * gets the semester
     * @return
     */
    public String getSemester() {
        return semester;
    }

    /**
     * sets the semester
     * @param semester
     */
    public void setSemester(String semester) {
        this.semester = semester;
    }

}
